 body {
    font-family: 'Mali', cursive;
    background-color: #feeacc;
 }

 .content-form {
     margin-left: 10%;
     margin-right: 10%;
 }

 .inline-custom {
     width: 150px;
 }

.center {
     left: 50%;
     right: 50%;
 }

 .center > h1 {
    margin-top: 15%;
}

.btnsBottom {
    margin-bottom: 10%;
}

.spacer-s {
    height: 25px;
}

.spacer-m {
    height: 50px;
}

.spacer-l {
    height: 100px;
 }

#btnNew {
    margin-top: 220px;
}

#wicon {
    width: 30%;
    height: 30%;
}

/* für Querformat auf Mobile */
@media only screen and (max-width: 500px) {

    .center > h1 {
        margin-top: 15%;
    }

    #btnNew {
        margin-top: 40%;
    }
}

/* für Querformat auf Mobile */

@media only screen and (max-height: 500px) {

    .center > h1 {
        margin-top: 10%;
    }

    #btnNew {
        margin-top: 10%;
    }
}

/* für Querformat auf Tablet */

@media only screen and (min-width: 1000px) {

    .center > h1 {
        margin-top: 10%;
    }
}
